<div id="{{id}}-app" class="app">

    <div id="{{id}}-menu" class="menu">
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper -->
    <div class="swiper-container">

        <div class="swiper-wrapper">

            {{#each scenes}}
                <div class="swiper-slide">
                    <div class="img-wrapper">

                        {{#if intro}}
                            <img class="logo-app" src="{{{basePath}}}images/logo-app.png">
                        {{/if}}

                        <img src="{{{../basePath}}}images/mobile/{{{mobileImg}}}" class="swiper-lazy img">
                        <!--<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>-->
                    </div>

                    <div class="body">

                        <div class="copy">
                            {{#if intro}}
                                {{introCopy1}}
                                {{introCopy2}}
                            {{else}}
                                {{copy}}
                            {{/if}}
                        </div>

                    </div>

                </div>
            {{/each}}

        </div>
    </div>


    <div class="footer">
        <img class="img portrait-only" src="{{{../basePath}}}images/mobile/footer.jpg">
        <img class="img landscape-only" src="{{{../basePath}}}images/mobile/footer-landscape.jpg">
    </div>

</div>


<div id="{{id}}-ga" class="ga"></div>