<div id="{{id}}-app" class="app">

    <div id="{{id}}-menu" class="menu">
        <div class="inner">

            <div class="item active" style="background-color: white; color: #333;" data-idx="0">
                Begin
                <div class="underline" style="background-color: white;"></div>
            </div>

            {{#each scenes}}
                {{#unless intro}}
                    <div class="item" style="background-color: {{colour}}" data-idx="{{@index}}"
                         data-href="scene-{{{id}}}" data-year="{{{year}}}">
                        {{#if yearCopy}}
                            {{{yearCopy}}}
                        {{else}}
                            {{{year}}}
                        {{/if}}
                        <div class="underline" style="background-color: {{colour}};"></div>
                    </div>
                {{/unless}}
            {{/each}}

        </div>
    </div>

    <!-- Swiper -->
    <div class="swiper-container">

        <div class="swiper-wrapper">

            {{#each scenes}}
                <div class="swiper-slide">
                    <div class="img-wrapper">

                        {{#if intro}}
                            <img class="logo-app" src="{{{../../basePath}}}images/logo-app.png">
                        {{/if}}

                        <img src="{{{../basePath}}}images/mobile/{{{mobileImg}}}" class="swiper-lazy img">
                        <!--<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>-->
                    </div>

                    <div class="body">

                        <div class="copy">
                            {{#if intro}}
                                {{introCopy1}}
                                {{introCopy2}}
                            {{else}}
                                {{copy}}
                            {{/if}}

                            <div class="social">
                                <img class="fb-icon" src="{{{../basePath}}}images/facebook-icon.svg">
                                <img class="tw-icon" src="{{{../basePath}}}images/twitter-icon.svg">
                            </div>

                            {{#if end}}
                                <a class="link" href="https://www.theguardian.com/discover-nespresso">
                                    Become a<br>
                                    coffee connoisseur<span class="small-space">&nbsp;</span>:<br>
                                    Read expert tips<br>
                                    <img src="{{{../../basePath}}}images/link-icon.svg">
                                </a>
                            {{/if}}

                        </div>

                    </div>

                </div>
            {{/each}}

        </div>
    </div>


    <div class="footer">
        <img class="img portrait-only" src="{{{basePath}}}images/mobile/footer.jpg">
        <img class="img landscape-only" src="{{{basePath}}}images/mobile/footer-landscape.jpg">
    </div>

</div>


<div id="{{id}}-ga" class="ga"></div>