<div id="{{id}}" class="scene {{type}}-scene full-height">

    <div class="inner center abs">

        <div class="pin">
            <div class="images-wrapper">
                <div id="tile-{{year}}" class="abs tile tile-{{year}} shadow">
                    <img class="img" src="{{basePath}}images/tiles/{{year}}.jpg">
                </div>
            </div>

            <div id="landmark-{{year}}" class="abs landmark landmark-{{year}} shadow">
                <img class="img" src="{{basePath}}images/landmark/{{year}}.jpg">
            </div>

            <div class="body">
                <div class="title abs">{{{title}}}</div>
                <div class="text abs">
                    {{{copy}}}
                </div>
            </div>
        </div>

    </div>

</div>