<div id="{{id}}" class="scene {{type}}-scene full-height dark">

    <div class="inner center abs">

        <div class="composition">
            <img class="abs NespressoCup_01_Right send-to-front" src="{{{basePath}}}images/pngs/NespressoCup_01_Right.png">
            <img class="abs NespressoCup_01_Left send-to-front" src="{{{basePath}}}images/pngs/NespressoCup_01_Left.png">
            <img class="abs Biscuits_01 send-to-front" src="{{{basePath}}}images/pngs/Biscuits_01.png">
            <img class="abs Biscuits_02_Single send-to-front" src="{{{basePath}}}images/pngs/Biscuits_02_Single.png">
        </div>

        {{#each images}}
            <img src="{{{../basePath}}}images/pngs/{{src}}.png" class="abs {{src}} send-to-front">
        {{/each}}

        <div class="images-wrapper">
            <div class="tiles">

                <div id="tile-{{year}}end" class="abs tile tile-{{year}}end">
                    <img class="img" src="{{basePath}}images/tiles/{{year}}end.jpg">
                    <div class="shadow-right"></div>
                    <div class="shadow-bottom"></div>
                </div>

                {{#each tiles}}
                    {{#if chapter}}
                        <div id="tile-{{id}}" class="abs tile tile-{{year}}">
                            <img class="img" src="{{../../basePath}}images/tiles/{{year}}.jpg">
                            <div class="shadow-right"></div>
                            <div class="shadow-bottom"></div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>


        <div id="landmark-1986" class="abs landmark landmark-1986">
            <img class="img" src="{{{basePath}}}images/landmark/1986.jpg">
            <div class="shadow-right"></div>
            <div class="shadow-bottom"></div>
        </div>


        <div class="body">
            <div class="title abs">{{{title}}}</div>
            <div class="text abs">
                {{{copy}}}
            </div>
        </div>

        <a class="link" href="https://www.theguardian.com/discover-nespresso">
            Become a<br>
            coffee connoisseur<span class="small-space">&nbsp;</span>:<br>
            Read expert tips<br>
            <img src="{{{basePath}}}images/link-icon.svg">
        </a>

    </div>

</div>