<div id="{{id}}" class="scene {{type}}-scene full-height">

    <img class="abs BiscuitsOnPlate_01 send-to-front" src="{{{basePath}}}images/pngs/BiscuitsOnPlate_01.png">

    <img class="abs NespressoCup_01_Left send-to-front" src="{{{basePath}}}images/pngs/NespressoCup_01_Left.png">

    <div class="abs right-cup">
        <img class="rel NespressoCup_01_Right  send-to-front" src="{{{basePath}}}images/pngs/NespressoCup_01_Right.png">
        <img class="abs Beans01" src="{{{basePath}}}images/pngs/Beans01.png">
    </div>

    <!--<img class="abs BowlBeans_01 send-to-front" src="{{{basePath}}}images/pngs/BowlBeans_01.png">-->

    {{#each images}}
        <img src="{{{basePath}}}images/pngs/{{src}}.png" class="abs {{src}} send-to-front">
    {{/each}}

    <div class="pin">

        <div class="images-wrapper">
            <div class="tiles">
                {{#each tiles}}
                    {{#if chapter}}
                        <div id="tile-{{id}}" class="abs tile tile-{{year}} shadow">
                            <img class="img" src="{{../../basePath}}images/tiles/{{year}}.jpg">
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>


        <div id="landmark-BC" class="abs landmark landmark-BC shadow">
            <img class="img" src="{{{basePath}}}images/landmark/BC.jpg">
        </div>


        <div class="body">
            <div class="intro-block">
                <img class="logo-app" src="{{{basePath}}}images/logo-app.png">
                <div class="intro-text">
                    {{introCopy1}}
                    {{introCopy2}}

                    <!--<div class="inner-1">{{introCopy1}}</div>-->
                    <!--<div class="inner-2">{{introCopy2}}</div>-->
                </div>
            </div>

            <div class="title abs">{{{title}}}</div>
            <div class="text abs">
                {{{copy}}}
            </div>
        </div>

    </div>
</div>