<div id="{{id}}" class="scene {{type}}-scene full-height">

    <img class="abs BiscuitsOnPlate_01 send-to-front" src="images/pngs/BiscuitsOnPlate_01.png">

    <img class="abs NespressoCup_01_Left send-to-front" src="images/pngs/NespressoCup_01_Left.png">

    <div class="abs right-cup">
        <img class="rel NespressoCup_01_Right  send-to-front" src="images/pngs/NespressoCup_01_Right.png">
        <img class="abs Beans01" src="images/pngs/Beans01.png">
    </div>

    <div class="tiles">
        {{#each tiles}}
            {{#if chapter}}
                <div id="tile-{{id}}" class="abs tile tile-{{year}}">
                    <img class="img" src="images/tiles/{{year}}.jpg">
                    <!--<img class="shadow" src="">-->
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div class="body">
        <img class="logo-app" src="images/logo-app.png">
        <div class="text">
            {{introCopy}}
        </div>
    </div>

    <img class="abs scroll-icon" src="images/scroll-icon.svg">
</div>