<div class="spinner-wrapper center">
    <img class="spinner" src="{{basePath}}{{imgPath}}loader.svg">
</div>

<div class="progress-wrapper">
    <div class="progress">
        <img class="img" src="{{basePath}}{{imgPath}}progress.png">
    </div>
</div>

<div class="hidden-images">
    {{#each imagesToPreload}}
        <img class="{{classname}}" src="{{../basePath}}{{../imgPath}}{{filename}}">
    {{/each}}
</div>
