<div class="nespresso-header">
    <div class="nespresso-logo">
        <div class="copy">Paid for by</div>
        <img class="img" src="{{{basePath}}}images/logo-nespresso.png">
    </div>
</div>

<div id="{{id}}-loader" class="loader full-height"></div>

<div class="inner">

    <div id="{{id}}-app" class="app"></div>

    <div id="{{id}}-menu" class="menu"></div>

    <div id="{{id}}-ga" class="ga"></div>

</div>

<div class="nespresso-footer">
    <img class="abs scroll-icon" src="{{{basePath}}}images/scroll-icon.svg">
</div>