<div class="inner">

    <div class="item" data-idx="-1" data-year="Intro" style="background-color: white; color: #333;">
        <div class="year">Begin</div>
    </div>

    {{#each scene}}
        <div class="item" data-idx="{{@index}}" data-href="scene-{{{id}}}" data-year="{{{year}}}"
             style="background-color: {{colour}}">
            {{#if yearCopy}}
                <div class="year">{{{yearCopy}}}</div>
            {{else}}
                <div class="year">{{{year}}}</div>
            {{/if}}
        </div>
    {{/each}}
</div>