<div class="inner">
    {{#each scene}}
            <div class="item" data-idx="{{@index}}" data-href="scene-{{{id}}}" data-year="{{{year}}}" style="background-color: {{colour}}">
                <div class="year">{{{year}}}</div>
            </div>
    {{/each}}
</div>